/** @format */

:root {
  /* Core units
     ================================================================= */
  --base-unit: 0.25rem;
  --base-half-unit: calc(var(--base-unit) / 2);
  --text-scale: 1;

  /* Typography
     ================================================================= */
  /* Fonts */
  --font-family-primary: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-family-secondary: serif;
  --font-base-unit: calc(var(--base-unit) * var(--text-scale));
  /* Font sizes - 4x4 grid */
  --font-size-12: calc(var(--font-base-unit) * 3);
  --font-size-14: calc(var(--font-base-unit) * 4);
  --font-size-16: calc(var(--font-base-unit) * 4.5);
  --font-size-20: calc(var(--font-base-unit) * 5);
  --font-size-24: calc(var(--font-base-unit) * 6);
  --font-size-32: calc(var(--font-base-unit) * 8);
  --font-size-40: calc(var(--font-base-unit) * 10);
  --font-size-48: calc(var(--font-base-unit) * 12);
  --font-size-64: calc(var(--font-base-unit) * 16);
  --line-height-base-unit: 1;
  /* Line heights */
  --line-height-small: calc(var(--line-height-base-unit) * 1.1);
  --line-height-medium: calc(var(--line-height-base-unit) * 1.3);
  --line-height-large: calc(var(--line-height-base-unit) * 1.5);
  /* Font weights */
  --font-weight-lighter: 100;
  --font-weight-light: 200;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-bolder: 900;
  /* Space
      ================================================================= */
  --space-base-unit: var(--base-unit);
  /* Margin, Padding - 8x8 grid */
  --space-8: calc(var(--space-base-unit) * 2);
  --space-16: calc(var(--space-base-unit) * 4);
  --space-24: calc(var(--space-base-unit) * 6);
  --space-32: calc(var(--space-base-unit) * 8);
  --space-40: calc(var(--space-base-unit) * 10);
  --space-48: calc(var(--space-base-unit) * 12);
  --space-64: calc(var(--space-base-unit) * 16);
  --space-72: calc(var(--space-base-unit) * 18);
  --space-88: calc(var(--space-base-unit) * 22);
  /* Breakpoints
      ================================================================= */
  --breakpoint-small: 544px;
  --breakpoint-medium: 768px;
  --breakpoint-large: 1012px;


    /* ===============================
     Color Palette (Light Mode)
     =============================== */
  --light-green: #f5f2dc;   /* Background containers */
  --medium-green: #cad9a0;  /* Main container color */
  --dark-green: #b1c284;    /* Accents/buttons/radios */
  --text-main: #000000;      /* Main text */
  --text-secondary: #3c3c3c;

  --button-container-primary: #e3f5ae;
  --button-container-secondary: #bccc91;
  --button-hover-secondary: #9aab6d;

  --image-list-text: black;
  --image-list-background-box: #DED29E;
  --image-list-background-box-secondary: #EDE4AB;
  --image-list-bb-hover: #c2b88a;
  --image-list-bb-select: #ada180;
  --image-list-checkbox: white;

  /* Color
      ================================================================= */
  --colour-primary-lightest: #edf6ea;
  --colour-primary-lighter: #89a080;
  --colour-primary-light: #809c76;
  --colour-primary-highlight: #c8ecba;
  --colour-primary: #47603e;
  --colour-primary-dark: #F4F0CB;
  --colour-primary-darker: #1b2418;

  --colour-secondary-lighter: #fefbf1;
  --colour-secondary-light: #fefbf0;
  --colour-secondary: #fcdeb1;
  --colour-secondary-dark: #ffeebc;
  --colour-secondary-darker: #bb7000;
  --colour-gray-1: #ffffff;
  --colour-gray-2: #eeeeee;
  --colour-gray-3: #d5d5d5;
  --colour-gray-4: #bbbbbb;
  --colour-gray-5: #a1a1a1;
  --colour-gray-6: #888888;
  --colour-gray-7: #6f6f6f;
  --colour-gray-8: #555555;
  --colour-gray-9: #3c3c3c;
  --colour-gray-10: #222222;
  --colour-gray-11: #000201;
  --colour-white: #ffffff;
  --colour-black: #000000;

  --colour-error: #ef9a9a;
  /* Border
      ================================================================= */
  /* Border colour */
  --border-colour-lighter: var(--gray-2);
  --border-colour-light: var(--gray-3);
  --border-colour: var(--gray-5);
  --border-colour-dark: var(--gray-7);
  --border-colour-darker: var(--gray-9);

  /* Border radius */
  --border-radius-small: calc(var(--base-unit) * 1);
  --border-radius-medium: calc(var(--base-unit) * 2);
  --border-radius-large: calc(var(--base-unit) * 2);

  /* Standard values for light mode */
  --text-colour-light: var(--colour-gray-1);
  --text-colour-lighter: var(--colour-gray-4);
  --text-colour-light-primary: var(--colour-primary-lighter);
  --text-colour-dark: #000000;
  --colour-border-light: var(--colour-white);
  --colour-icon-light: var(--colour-white);
  --colour-accent-light: var(--colour-gray-3);

  /** Measurements */
  --hero-max-height: calc(var(--base-unit) * 100);
  --header-height: calc(var(--base-unit) * 16);
  --header-border-radius: calc(var(--base-unit) * 4);
  /* Measurement for padding at the top of the page + the header height to accurately position things below it */
  --top-til-header-height: calc(var(--space-32) + var(--header-height));

  /* Transitions */
  --link-transition: all 0.25s ease-out;

  font-family: var(--font-family-primary);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #3a4636;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ===============================
   Dark Mode Variables
   =============================== */
:root.dark-mode {
  --light-green: #2E2F25;   /* Background containers */
  --medium-green: #3A4636;  /* Main container color */
  --dark-green: #556F48;    /* Accents/buttons/radios */
  --text-main: #F4F0CB;     /* Main text */
  --text-secondary: #D5D5D5;

  --button-container-primary: #b3c482;
  --button-container-secondary: #739169;
  --button-hover-secondary: #47603e;

  --image-list-text: #FFFFFF;
  --image-list-background-box: #5C563D;
  --image-list-background-box-secondary: #5C563D;
  --image-list-bb-hover: #756c48;
  --image-list-bb-select: #3A3526;
  --image-list-checkbox: #f5f2dc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: inherit;
}

html,
body,
#root,
#root > div {
  background-color: var(--light-green);
  background-image: var(--gradient-bg);
  min-height: 100vh;

  &:has(.loader-container) {
    height: 100%;
  }
}

/* Reset margins */
h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
}

/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.progress-icon {
  width: 30px;
  height: 50px;
}