.home {
  margin: auto;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: var(--font-family-primary);
  color: var(--text-main);
  background-color: var(--light-green);
}
.home__title {
  font-size: calc(var(--font-size-64) - 1px);
  font-weight: var(--font-weight-bold);
  text-align: left;
  color: var(--text-main);
}
.home__subtitle {
  margin: var(--space-24) 0 var(--space-64);

  font-family: var(--font-family-primary);
  color: var(--text-secondary);
}
.home__subtitle > h2 {
  display: inline-block;

  font-size: calc(var(--font-size-16) - 1px);
  line-height: var(--line-height-medium);
  text-align: left;
  font-family: var(--font-family-primary);
  color: var(--text-secondary);
}
.home__actions {
  display: flex;
  justify-content: space-between;
  width: 100%;

  font-size: var(--font-size-12);
  font-family: var(--font-family-secondary);
  color: var(--text-secondary);
}
.home__button {
  border: none;
  border-radius: var(--border-radius-medium);

  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-bold);
  color: var(--text-main);

  background-color: var(--dark-green);
  cursor: pointer;

  transition: var(--link-transition);
}
.home__button:hover {
  background-color: var(--medium-green);
}
.text-large .home {
  width: 637px;
}
.text-medium .home {
  width: 590px;
}
.text-small .home {
  width: 530px;
}