

.ReIDBody {
  display: flex;
  width: 100%;
  color: var(--text-main);
  padding: 20px 0;
  height: 100%;
}

.ReID_uploads_list{
  width: 20rem;
  height: 100%;
  background-color: var(--medium-green);
  border-radius: 1rem;
  padding: 1.25rem;
  overflow-y: auto;
  font-weight: 500;
}

.ReID_table{
  padding-left: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ReID_table_middle {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  padding-top: 20px;
}

.button_invisible {
  background-color: #d8e9a6;
  color: black;
}

.uploads-file-list {
  width: 100%;
}
.uploads-file-list-warning {
  width: 100%;
}

.ReIDBody > .uploads-middle-section > .uploads-file-list {
  padding-top: 0;
}

.uploads__list__items {
  padding-top: 20px;
}

@media screen and (max-width: 1404px) {
  .ReIDBody {
    flex-direction: column;
    height: auto;
  }
  .ReID_uploads_list {
    width: 100%;
    height: auto;
  }
  .ReID_table {
    padding-left: 0;
  }
  .file_list_and_preview {
    flex-direction: column;
  }
  .ReIDBody > .uploads-file-list {
    overflow: none;
  }
}