
.renameModalForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.renameInput {
    width: 100%;
    font-size: 1.2rem;
    background-color: transparent;
    color: var(--colour-secondary-dark);
    border: solid 1px var(--colour-secondary-dark);
    border-radius: var(--header-border-radius);
    padding: 4px;
}

.renameSubmitButton {
    padding-left: 20px;
    padding-right: 20px;
    background: var(--colour-secondary-dark);
    color: var(--text-colour-dark);
}
