.navbar {
  display: flex;
  flex-direction: column;
  background-color: var(--medium-green);
  color: var(--text-main);;
  padding: 1.25rem;
  overflow: hidden;
  transition: all 0.2s ease;
  font-size: var(--font-size-16);
}

.navbar__toggle {
  width: 100%;
  color: var(--text-main);;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease;
}
.navbar__toggle:hover {
  background-color: var(--dark-green);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.navbar__title {
  font-size: var(--font-size-24);
  color: inherit;
  font-weight: 700;
  overflow: hidden;
}
.navbar__title--collapsed {
  width: 0;
}

.navbar__spacer--top {
  height: 0.6rem;
}
.navbar__spacer--bottom {
  flex: 1;
}

.navbar__divider {
  border-top: 1px solid var(--text-main);;
  margin: 1rem auto;
  transition: width 0.3s ease;
}
.navbar__divider--expanded {
  width: calc(100% - 3rem);
}
.navbar__divider--collapsed {
  width: calc(100% - 1rem);
}

.navbar__links {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.navbar__item {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  color: inherit;
  border-radius: 0.5rem;
  align-items: center;
  transition: all 0.2s ease;
}
.navbar__item:hover {
  background-color: var(--dark-green);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.navbar__item--active {
  background-color: var(--dark-green);
}

.navbar__item-icon {
  flex-shrink: 0;
  line-height: 0;
}

.navbar__item-text {
  white-space: nowrap;
  overflow: hidden;
  font-weight: 500;
}
.navbar__item-text--collapsed {
  display: none;
  width: 0;
  margin-left: 0;
  padding: 0;
  pointer-events: none;
  overflow: hidden;
}
.navbar__item-text--expanded {
  width: 100%;
}