.tree-item {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 0.6rem;
  width: 100%;
  cursor: pointer;
  border-radius: 0.5rem;
  font-weight: 500;
  color: black;
  transition: all 0.3s ease;
}
.tree-item:hover {
  background: var(--dark-green);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  color: var(--text-main);
}

.tree-item-active {
  background: var(--dark-green);
  color: var(--text-main);
}

.tree-item-icon {
  width: 1.25rem;
  color: var(--text-main);
}

.tree-item-child {
  padding-left: 1.25rem;
  width: 100%;
}